//- page-list.pug
mixin _pageListHeader(headers)
  thead(class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400")
    tr
      each item, no in headers
        th(scope="col" class="py-3 px-6")=item

mixin _pageListBody(rows, headers)
  tbody
      each itemr, nor in rows
        tr(class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600")
        each itemh, noh in headers
          td(class="py-4 px-6") #{itemr[headers[noh]]}

mixin pageList(rows, headers)
  div(class="overflow-x-auto relative shadow-md sm:rounded-lg")
    table(class="w-full text-sm text-left text-gray-500 dark:text-gray-400")
      +_pageListHeader(headers)
      +_pageListBody(rows, headers)