//- file : pg0002.pug
//- title : MODIFY_PAGE_TITLE
//- @since 2022-09-06T14:27:55.651Z (UTC)
extends ../layout

block content
	+pageHeader(domain, seq, desc)
	+pageSearchBar(search_bar)
	+pageList(rows, headers)
	+pageFooter()

block scripts 
	script(src='/js/pg/pg0002.js')