extends ../layout

block content
  -var headers = ['tablename', 'hasindexes', 'tablespace', 'tabledesc'];
  +pageHeader(domain, seq, desc)
  +pageSearchBar([{placeholder:'LIKE:테이블명', id:'tablename', label:'테이블명', value:tablename},{placeholder:'LIKE:테이블설명', id:'tabledesc', label:'테이블설명', value:tabledesc}])
  +pageList(rows, headers)
  +pageFooter()
  

block scripts 
  script(src='/js/pg/pg0000.js')